.navbar {
  background-color: #98FB98;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-brand p{
  color: green;
}

#nav-list a {
  color: green;
}

#nav-list li a:hover, #nav-list li a:focus {
  color: black;
  font-weight: bold;
}

#menu-button, .icon-bar {
  border: 1px solid #98FB98;
}

#menu-button:hover, .icon-bar {
  background: #98FB98;
  border: 1px solid green;
}

.block {
  background: #98FB98;
  color: black;
  margin: 15px;
  padding: 10px;
}

.block-title {
  text-align: center;
  font-weight: bold;

}
.block-text {
  padding: 10px 20px 20px 20px;
}
